<template>
    <div class="vue-notification-group" :style="styles">
        <CssGroup @enter="enter" @leave="leave">
            <div v-for="item in notifications" :key="item.id" class="vue-notification-wrapper" :data-id="item.id">
                <div :class="notifyClass(item)" @click="destroyIfNecessary(item)">
                    <div v-if="item.title" class="notification-title" v-html="item.title"></div>
                    <div v-if="item.text" class="notification-content" v-html="item.text"></div>
                </div>
            </div>
        </CssGroup>
    </div>
</template>

<script>
import CssGroup from '@/components/Notification/CssGroup.vue';

export default {
    name: "J2YNotifications",
    components: {
        CssGroup
    },
    props: {
        position: {
            type: String,
            default: 'bottom right'
        },
        duration: {
            type: Number,
            default: 3000
        },
        closeOnClick: {
            type: Boolean,
            default: false
        },
        classes: {
            type: String,
            default: 'vue-notification'
        },
        animation: {
            type: Object,
            default () {
                return {
                    enter: (el) => {
                        let height = el.clientHeight

                        return {
                            height: [height, 0],
                            opacity: [1, 0]
                        }
                    },
                    leave: {
                        height: 0,
                        opacity: [0, 1]
                    }
                }
            }
        },
        speed: {
            type: Number,
            default: 300
        },
    },
    data: () => ({
        notifications: [],
        idGenerator: null
    }),
    computed: {
        styles () {
            if (this.position === 'bottom right') {
                return { bottom: 0, right: 0 }
            }

            return {};
        }
    },
    methods: {
        destroyIfNecessary (item) {
            if (this.closeOnClick) {
                this.destroy(item)
            }
        },
        add (notice) {
            notice.id = this.idGenerator();

            notice.timer = setTimeout(() => {
                this.destroy(notice)
            }, notice.duration || this.duration);

            this.notifications.push(notice);
        },
        destroy (item) {
            const itemId = item.id;
            this.notifications = this.notifications.filter(item => item.id !== itemId);
        },
        notifyClass (item) {
            return [
                'vue-notification-template',
                this.classes,
                item.type
            ]
        },
        createIdGenerator () {
            let id = 1;

            return function () {
                return id++;
            };
        },

        // Animations...
        getAnimation (index, el) {
            const animation = this.animation[index]

            return typeof animation === 'function'
                ? animation.call(this, el)
                : animation
        },
        enter ({ el, complete }) {
            const animation = this.getAnimation('enter', el)

            this.velocity(el, animation, {
                duration: this.speed,
                complete
            })
        },
        leave ({ el, complete }) {
            let animation = this.getAnimation('leave', el)

            this.velocity(el, animation, {
                duration: this.speed,
                complete
            })
        }
    },
    created () {
        this.idGenerator = this.createIdGenerator();
    }
}
</script>


<style scoped lang="scss">
.vue-notification-group {
    display: block;
    position: fixed;
    z-index: 5000;
}

.vue-notification-wrapper {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.notification-title {
    font-weight: 600;
}

.vue-notification-template {
    display: block;
    box-sizing: border-box;
    background: white;
    text-align: left;
}

.vue-notification {
    display: block;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    padding: 10px;
    margin: 0 5px 5px;

    color: white;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
}

.vue-notification.warn {
    background: #ffb648;
    border-left-color: #f48a06;
}

.vue-notification.error {
    background: #E54D42;
    border-left-color: #B82E24;
}

.vue-notification.success {
    background: #68CD86;
    border-left-color: #42A85F;
}

.vn-fade-enter-active, .vn-fade-leave-active, .vn-fade-move {
    transition: all .5s;
}

.vn-fade-enter, .vn-fade-leave-to {
    opacity: 0;
}
</style>