<template>
    <div class="paste-request">
        <label for="post-json">Paste Request <small>(as Fetch)</small></label>
        <textarea
                id="post-json"
                class="box-shadow"
                v-model="value"
                placeholder='fetch("https://jsonplaceholder.typicode.com/todos?id=1", {
  "headers": {
    "authorization": "Bearer 9vzzAGdm6ETws9wXv",
  },
  "referrer": "http://localhost.com/",
  "referrerPolicy": "strict-origin-when-cross-origin",
  "body": null,
  "method": "GET",
  "mode": "cors",
  "credentials": "include"
});'></textarea>


        <button @click="emit" class="parse-fetch-btn box-shadow copy-yaml-btn">
            Parse
        </button>
    </div>
</template>


<script>
import ParseMixin from '@/mixins/ParseMixin';

export default {
    name: "PasteRequest",
    mixins: [ParseMixin],
    data () {
        return {
            value: '',
        }
    },
    methods: {
        clear () {
            this.value = '';
        },
        emit () {
            if (this.value) {
                const res = this.parseRequest();

                if (res) {
                    this.$emit('paste-request', res);
                }
            }
        },
        parseRequest () {
            let value = '[' + this.value.slice(6, -2) + ']';

            if (!this.isJsonValid(value)) {
                this.$emit('notify', {
                    type: 'error',
                    title: 'Paste Request Error!',
                    text: '༼ つ ಥ_ಥ ༽つ Paste Request is not parsed... '
                });

                return null;
            }

            const res = JSON.parse(value);

            //Clean Headers...
            const headers = [];
            for (const key of Object.keys(res[1].headers)) {
                // Add option or callback for filter keys...
                if (['accept', 'accept-language', 'if-none-match'].includes(key) || key.slice(0, 4) === 'sec-') {
                    continue;
                }

                headers.push({ key, value: res[1].headers[key] });
            }

            return {
                url: res[0],
                method: res[1].method,
                body: (res[1].body || ''),
                headers
            };
        }
    }
}
</script>

<style scoped lang="scss">
.paste-request {
    position: relative;

    .parse-fetch-btn {
        top: -5px;
        right: 10px;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
    }
}
</style>
