<template>
    <div class="request-payload">
        <label for="post-json">Request Payload</label>
        <textarea
                id="post-json"
                class="box-shadow"
                v-model="value"
                placeholder='{
    "id": 18055,
    "email": "example@gmail.com",
    "created_at": 164345621,
    "deleted": false
}'></textarea>

        <div class="required-field">
            <CheckBox label="Required" v-model="required" class="mb-0" />
        </div>
    </div>
</template>


<script>
import CheckBox from '@/components/forms/CheckBox.vue';

export default {
    name: "RequestPayload",
    components: { CheckBox },
    data: function () {
        return {
            value: '',
            required: true,
        }
    },
    methods: {
        clear() {
            this.value = '';
            this.required = true;
        }
    },
    watch: {
        required () {
            this.$emit('required', this.required)
        },
        value () {
            this.$emit('payload-input', this.value);
        }
    }
}
</script>

<style scoped lang="scss">
.request-payload {
    position: relative;

    .required-field {
        top: 10px;
        right: 15px;
        position: absolute;
    }
}
</style>