:root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --bg-color: #3D3E50;
    --second-bg-color: #2B2C3B;
    --font-color: #75787D;
    --heading-color: #BFC2C6;
}

[data-theme="light"] {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

p, span, label, button {
    color: var(--heading-color);
}

.card, input, textarea, button, select {
    background-color: var(--second-bg-color);
}

.box-shadow {
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-shadow: 0px 5px 10px 0px var(--primary-color) !important;
}

input, textarea, button, select {
    color: var(--heading-color);
    
    &::placeholder {
        color: var(--heading-color);
    }
}

.no-user-select {
    user-select: none !important;
}

.pointer {
    cursor: pointer !important;
}