<template>
    <div class="json-2-yaml">
        <div class="row">
            <div class="col-12 mb-4">
                <OptionsBar
                        :path="createPath"
                        :request="sendRequest"
                        :pasteRequest="pasteRequest"
                        @clear="clear"
                        @update-path="val => createPath = val"
                        @update-request="val => sendRequest = val"
                        @update-paste-request="val => pasteRequest = val"
                />
            </div>

            <RequestSender
                    ref="sendRequest"
                    v-if="sendRequest"
                    :path="createPath"
                    class="col-12 mb-2"
                    :show-example="showExample"
                    :pasteRequest="pasteRequest"
                    @notify="notify"
                    @request="requestSent"
                    @path="data => path = data"
            />

            <JsonAnswer
                    v-model="json"
                    :loader="loader"
                    @notify="notify"
                    @submit="requestSent(json)"
                    class="col-6 d-flex flex-column mb-3"
            />

            <YamlResult
                    :yaml="yaml"
                    :loader="loader"
                    @notify="notify"
                    class="col-6 d-flex flex-column mb-3"
            />
</div>

        <J2YNotifications ref="notify" />
    </div>
</template>

<script>
import YAML from 'yaml';
import ParseMixin from '@/mixins/ParseMixin';
import YamlResult from '@/components/YamlResult.vue';
import JsonAnswer from '@/components/JsonAnswer.vue';
import OptionsBar from '@/components/OptionsBar.vue';
import RequestSender from '@/components/RequestSender.vue';
import { ARR, INT, STR, BOOL, NULL, OBJ } from '../../utils/Types';
import J2YNotifications from '@/components/Notification/J2YNotifications.vue';

export default {
    name: 'Json2Swagger',
    mixins: [ParseMixin],
    components: {
        J2YNotifications,
        JsonAnswer,
        YamlResult,
        OptionsBar,
        RequestSender
    },
    props: {
        request: {
            type: Boolean,
            default: true
        },
        showExample: {
            type: String,
            default: null
        }
    },
    data () {
        return {
            loader: false,
            createPath: true,
            sendRequest: this.request,
            pasteRequest: false,

            path: null,
            json: null,
            yaml: null,
            jsonUpdateDelay: null,

            definitions: {
                components: {
                    schemas: {}
                }
            },
        };
    },
    methods: {
        clear () {
            this.path = null;
            this.json = null;
            this.yaml = null;

            this.definitions = JSON.parse(JSON.stringify({ components: { schemas: {} } }));

            if (this.sendRequest) {
                this.$refs.sendRequest.clear();
            }
        },
        delayUpdate () {
            if (this.jsonUpdateDelay) {
                clearTimeout(this.jsonUpdateDelay);
            }

            this.jsonUpdateDelay = setTimeout(() => {
                if (this.isJsonValid(this.json)) {
                    this.parseJson(this.json);
                } else {
                    this.$refs.notify.add({
                        type: 'error',
                        title: 'JSON error!',
                        text: '༼ つ ಥ_ಥ ༽つ  JSON not valid...'
                    });
                }
            }, 600);
        },
        parseJson (jsonStr) {
            this.loader = true;
            try {
                const obj = JSON.parse(jsonStr);
                this.parseDefinitions(obj);

                let yaml = '';

                if (this.createPath && this.path) {
                    yaml += YAML.stringify(this.path);
                    yaml += '\n\n';
                }

                yaml += YAML.stringify(this.definitions);

                this.yaml = yaml;

                this.$refs.notify.add({
                    type: 'success',
                    title: 'YAML ready',
                });
            } catch (e) {
                console.error('Json2Swagger.vue:140', e);
                this.$refs.notify.add({
                    type: 'error',
                    title: '¯\\_(ツ)_/¯ Something went wrong...',
                });
            }

            this.loader = false;
        },
        parseDefinitions (obj) {
            this.definitions.components.schemas.Answer = {};
            const answer = this.definitions.components.schemas.Answer;

            const type = this.getType(obj);
            answer.type = type;

            if (type === OBJ) {
                answer.properties = {};

                this.parseObject(obj, answer.properties);
            } else if (type === ARR) {
                answer.items = { oneOf: [] };

                this.parseArray(obj, answer.items.oneOf);
                answer.items.oneOf = this.clearArrayDuplicates(answer.items.oneOf);
            } else if (![STR, INT, BOOL, NULL].includes(type)) {
                this.yaml = '¯\\_(ツ)_/¯ Sorry, I don\'t know what is that => ' + JSON.stringify(obj);

                throw new Error('Can`t parse JSON');
            }
        },
        requestSent (value) {
            this.json = value;
            this.delayUpdate();
        },

        notify (notice) {
            this.$refs.notify.add(notice);
        }
    }
}
</script>

<style lang="scss">
@import '@/styles/bootstrap-grid.min.css';

.json-2-yaml {
    border-radius: 10px;
    padding: 20px 20px 10px;
    color: var(--font-color);
    background-color: var(--bg-color);
}

.json-2-yaml * {
    box-sizing: border-box;
}

/**
 * Components...
 */
.json-2-yaml label {
    font-weight: bold;
    margin-bottom: 10px;
}

.json-2-yaml textarea, .json-2-yaml input, .json-2-yaml select {
    outline: none;
    padding: 10px;
}

input, select {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.json-2-yaml textarea {
    resize: none;
    min-height: 200px;
}

.json-2-yaml select, .json-2-yaml input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid darkgrey;
}

/**
  * Loader...
 */
.j2y-loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.j2y-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.j2y-loader::before, .j2y-loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    animation: prixClipFix 2s linear infinite;
}

.j2y-loader::after {
    inset: 8px;
    border-color: #FF3D00 !important;
    transform: rotate3d(90, 90, 0, 180deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    75%, 100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}
</style>
