<template>
    <div class="json-answer">
        <label for="json-block">JSON</label>
        <textarea
                class="box-shadow"
                id="json-block"
                :value="value"
                @input="$emit('input', $event.target.value)"
                placeholder='{
    "id": 18055,
    "email": "example@gmail.com",
    "created_at": 164345621,
    "deleted": false
}'
        ></textarea>

        <button  @click="submit" class="submit-json-btn box-shadow copy-yaml-btn">
            ➜
        </button>

        <div v-if="loader" class="j2y-loader-wrapper">
            <span class="j2y-loader"></span>
        </div>
    </div>
</template>

<script>
export default {
    name: "JsonAnswer",
    props: {
        value: String,
        loader: Boolean,
    },
    methods: {
        submit () {
            if (this.value) {
                this.$emit('submit');
            } else {
                this.$emit('notify', {
                    type: 'warn',
                    title: 'JSON Empty!',
                    text: '༼ つ ಥ_ಥ ༽つ  Nothing to convert...'
                });
            }
        }
    }
}
</script>

<style scoped lang="scss">
.json-answer {
    position: relative;

    .submit-json-btn {
        top: -5px;
        padding: 0;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
    }
}
</style>