<template>
    <div class="options-bar card box-shadow no-user-select">
        <div class="left d-flex">
            <div class="option-wrapper me-2">
                <CheckBox label="Send Request" v-model="requestModel" class="mb-0" />
            </div>
            <div v-if="request" class="option-wrapper me-2">
                <CheckBox label="Create Path" v-model="pathModel" class="mb-0" />
            </div>
            <div v-if="request" class="option-wrapper me-2">
                <CheckBox label="Paste Request" v-model="pasteRequestModel" class="mb-0 me-2" />

                <div class="wtf">
                    ?
                    <div class="wtf-unswer">
                        How to paste request from Google Chrome:
                        <ol>
                            <li>Open developer console</li>
                            <li>Tab "Network"</li>
                            <li>Right-click on the request</li>
                            <li>Copy › Copy as fetch</li>
                            <li>Paste to field</li>
                            <li>Click button "Parse"</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
            <button @click="clear" class="clear-btn">Clear</button>
        </div>
    </div>
</template>

<script>
import CheckBox from '@/components/forms/CheckBox.vue';

export default {
    name: 'OptionsBar',
    components: { CheckBox },
    props: {
        path: Boolean,
        request: Boolean,
        pasteRequest: Boolean,
    },
    data: function () {
        return {
            pathModel: this.path,
            requestModel: this.request,
            pasteRequestModel: this.pasteRequest,
        }
    },
    watch: {
        pathModel (val) {
            this.$emit('update-path', val);
        },
        requestModel (val) {
            this.$emit('update-request', val);
        },
        pasteRequestModel (val) {
            this.$emit('update-paste-request', val);
        },
    },
    methods: {
        clear() {
            this.$emit('clear');
        }
    }
}
</script>

<style lang="scss">
.options-bar {
    height: 40px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .option-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    input[type=checkbox] {
        height: auto;
        border: none;
    }

    .clear-btn {
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 5px;
        border: 1px solid darkgrey;
    }
}

.wtf {
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    border-radius: 50%;
    cursor: help;
    background-color: var(--heading-color);

    .wtf-unswer {
        top: 30px;
        width: 300px;
        display: none;
        left: -162.5px;
        font-size: 13px;
        text-align: left;
        color: lightgrey;
        padding: 5px 7px;
        font-weight: bold;
        border-radius: 5px;
        position: absolute;
        flex-direction: column;
        background-color: var(--second-bg-color);

        ol {
            margin-top: 10px;
            margin-bottom: 0;
            padding-left: 20px;
        }
    }

    &:hover {
        .wtf-unswer {
            display: flex;
        }
    }
}
</style>