<template>
    <div class="request-sender">
        <form @submit.prevent="sendRequest" class="row">
            <div class="col-9 d-flex flex-column mb-4">
                <label for="url">URL</label>
                <input id="url" class="box-shadow" required v-model="url" placeholder="https://example.com">
            </div>

            <div class="col-2 d-flex flex-column mb-4">
                <label for="request-method">Type</label>

                <select v-model="method" id="request-method" class="box-shadow">
                    <option v-for="option in methodOptions" :key="option" :value="option">{{ option }}</option>
                </select>
            </div>

            <div class="col-1 d-flex flex-column mb-4">
                <button class="send-request-btn box-shadow">
                    <span v-if="loading" class="j2y-loader"></span>
                    <template v-else>➮</template>
                </button>
            </div>
        </form>
        <div class="row">
            <PasteRequest
                    ref="pasteRequest"
                    v-if="pasteRequest"
                    class="col-12 d-flex flex-column mb-4"
                    @paste-request="parsePastedRequest"
                    @notify="val => $emit('notify', val)"
            />

            <div class="col-6 d-flex flex-column mb-4">
                <label for="post-json">Headers</label>
                <div class="request-headers card box-shadow">
                    <div v-for="(header, idx) in headers" :key="idx" class="row">
                        <div class="col-5 d-flex flex-column mb-3">
                            <input id="url" v-model="header.key" placeholder="Key">
                        </div>
                        <div class="col-5 d-flex flex-column mb-3">
                            <input id="url" v-model="header.value" placeholder="Value">
                        </div>
                        <div class="col-2 d-flex flex-column mb-3">
                            <button @click="deleteHeader(idx)" class="drop-header-btn">✗</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex flex-column mb-1">
                            <button @click="addHeader" class="add-header-btn">+ Header</button>
                        </div>
                    </div>
                </div>
            </div>

            <RequestPayload
                    ref="requestPayload"
                    class="col-6 d-flex flex-column mb-4"
                    @payload-input="val => requestPayload = val"
                    @required="val => requestPayloadRequired = val"
            />
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { OBJ } from '../../utils/Types';
import ParseMixin from '@/mixins/ParseMixin';
import RequestExamples from '@/utils/RequestExamples';
import ResponseCodesMap from '@/utils/ResponseCodesMap';
import RequestPayload from '@/components/RequestSender/RequestPayload.vue';
import PasteRequest from '@/components/RequestSender/PasteRequest.vue';

export default {
    name: 'RequestSender',
    components: { PasteRequest, RequestPayload },
    mixins: [ParseMixin],
    props: {
        path: Boolean,
        pasteRequest: Boolean,
        codesMap: {
            type: Object,
            default: () => ResponseCodesMap
        },
        showExample: {
            type: String,
            default: null
        }
    },
    data: () => ({
        loading: false,
        url: '',
        method: 'GET',
        headers: [
            { key: '', value: '' },
            { key: '', value: '' },
        ],
        requestPayload: '',
        methodOptions: ['GET', 'POST', 'PUT', 'PATCH', 'DELETE'],

        responseCode: 200,
        responseType: 'application/json',
        requestPayloadRequired: true,
        authorizationHeader: false,
    }),
    methods: {
        clear () {
            this.url = '';
            this.method = 'GET';
            this.headers = JSON.parse(JSON.stringify([{ key: '', value: '' }, { key: '', value: '' }]));
            this.$refs.requestPayload.clear();
            this.$refs.pasteRequest.clear();
        },
        addHeader () {
            this.headers.push({ key: '', value: '' });
        },
        deleteHeader (idx) {
            this.headers.splice(idx, 1);
        },
        async sendRequest () {
            if (this.loading) {
                return;
            }

            if (!this.url) {
                return this.$emit('notify', {
                    type: 'error',
                    title: 'URL Error!',
                    text: '༼ つ ಥ_ಥ ༽つ URL is empty!'
                });
            }

            let data = null;
            if (this.method === 'POST' && this.requestPayload) {
                if (this.isJsonValid(this.requestPayload)) {
                    data = JSON.parse(this.requestPayload);

                    if (this.getType(data) !== OBJ) {
                        return this.$emit('notify', {
                            type: 'error',
                            title: 'Request Payload error!',
                            text: '༼ つ ಥ_ಥ ༽つ Request Payload should be object!'
                        });
                    }
                } else {
                    return this.$emit('notify', {
                        type: 'error',
                        title: 'Request Payload error!',
                        text: '༼ つ ಥ_ಥ ༽つ Request Payload not valid...'
                    });
                }
            }

            this.loading = true;
            this.$emit('request-sent');

            const headers = {};
            for (const header of this.headers) {
                if (header.key) {
                    headers[header.key] = header.value;
                }
            }

            try {
                const res = await axios({
                    method: this.method,
                    url: this.url,
                    data,
                    headers
                });

                if (this.path) {
                    await this.emitPath();
                }

                this.$emit('request', JSON.stringify(res.data));
            } catch (err) {
                console.error(err);
            }

            this.loading = false;
        },
        parseUrl () {
            const url = new URL(this.url);

            const res = {
                domain: url.hostname,
                path: url.pathname,
                parameters: {}
            };

            for (const [key, value] of url.searchParams.entries()) {
                res.parameters[key] = value;
            }

            return res;
        },
        parsePayload () {
            const reqPayload = JSON.parse(this.requestPayload);
            const payloadType = this.getType(reqPayload);

            if (payloadType !== OBJ) {
                // @TODO: show error message...
                throw new Error('Wrong "Request Payload" type!');
            }

            const res = {
                required: this.requestPayloadRequired,
                content: {
                    'application/json': {
                        schema: {
                            type: OBJ,
                            properties: {}
                        }
                    }
                }
            };

            const properties = res.content['application/json'].schema.properties;
            this.parseObject(reqPayload, properties);

            return res;
        },
        async emitPath () {
            const url = this.parseUrl();
            const path = {
                paths: {
                    [url.path]: {
                        [this.method.toLowerCase()]: {
                            summary: '',
                        }
                    }
                }
            };

            const parameters = [];

            // GET params...
            for (const param in url.parameters) {
                parameters.push({
                    in: 'query',
                    name: param,
                    schema: { type: this.getType(url.parameters[param]) },
                    description: ''
                });
            }

            // Headers...
            const headers = this.headers.filter(header => {
                if (!header.key) {
                    return false;
                }

                if (header.key.toLowerCase() === 'authorization') {
                    this.authorizationHeader = true;
                    return false;
                }

                return true;
            })
            for (const header of headers) {
                parameters.push({
                    in: 'header',
                    name: header.key,
                    schema: { type: this.getType(header.value) },
                    description: ''
                });
            }

            // Add parameters to path...
            if (parameters.length > 0) {
                path.paths[url.path][this.method.toLowerCase()].parameters = parameters;
            }

            // Add post body...
            if (this.method !== 'GET' && this.requestPayload) {
                if (!this.isJsonValid(this.requestPayload, 'Request Payload')) {
                    return;
                }

                path.paths[url.path][this.method.toLowerCase()].requestBody = this.parsePayload();
            }

            // Add responses block...
            path.paths[url.path][this.method.toLowerCase()].responses = {
                [this.responseCode]: {
                    description: this.getResponseCodeDescription(),
                    content: {
                        [this.responseType]: {
                            schema: {
                                '$ref': '#/components/schemas/Answer'
                            }
                        }
                    }
                }
            };

            await this.$emit('path', path);
        },

        parsePastedRequest (request) {
            if (request) {
                this.url = request.url || '';
                this.headers = request.headers || [];
                this.method = request.method || this.method;
                this.requestPayload = request.body || '';

                if (this.url) {
                    this.sendRequest();
                }
            }
        },

        // Descriptions...
        getResponseCodeDescription () {
            return this.codesMap[this.responseCode]?.description || '';
        }
    },
    created () {
        if (this.showExample !== null) {
            const example = RequestExamples;
            const method = this.showExample.toUpperCase();

            this.url = example[method].url;
            this.method = example[method].method;

            if (example[method].headers) {
                this.headers = example[method].headers;
            }

            if (example[method].requestPayload) {
                this.headers = example[method].requestPayload;
            }
        }
    }
}
</script>

<style scoped>
.request-sender {
    display: flex;
    flex-direction: column;
}

#post-json, .request-headers {
    min-height: 200px;
}

.request-headers {
    min-height: 200px;
    border-radius: 5px;
    padding: 20px 15px 5px;
    border: 1px solid darkgrey;
}

.add-header-btn, .drop-header-btn, .send-request-btn {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgrey;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.send-request-btn {
    font-size: 35px;
}

.send-request-btn .j2y-loader {
    width: 24px;
    height: 24px;
}


.send-request-btn .j2y-loader::before, .send-request-btn .j2y-loader::after {
    border: 2.5px solid #2d2d2d;
}

.send-request-btn .j2y-loader::after {
    inset: 4px;
}
</style>
