<template>
    <div class="yaml-result">
        <label for="json-block">YAML</label>
        <textarea
                readonly
                ref="textInput"
                class="box-shadow"
                id="yaml-block"
                v-model="value"
                placeholder="
id: 18055
email: example@gmail.com
created_at: 164345621
deleted: false
"
        ></textarea>

        <button  @click="copyToClipboard" class="send-request-btn box-shadow copy-yaml-btn">
            ⧉
        </button>
        <div v-if="loader" class="j2y-loader-wrapper">
            <span class="j2y-loader"></span>
        </div>
    </div>
</template>

<script>
export default {
    name: "YamlResult",
    props: {
        yaml: String,
        loader: Boolean,
    },
    data: function () {
        return {
            value: this.yaml
        }
    },
    watch: {
        yaml() {
            this.value = this.yaml;
        }
    },
    methods: {
        copyToClipboard () {
            const textInput = this.$refs.textInput;
            textInput.select();
            document.execCommand('copy');
            textInput.setSelectionRange(0, 0);

            this.$emit('notify', {
                type: 'success',
                title: 'YAML сopied!',
                text: '༼ つ  ͡° ͜ʖ ͡° ༽つ  YAML copied to clipboard...'
            });
        }
    }
}
</script>

<style scoped lang="scss">
.yaml-result {
    position: relative;

    .copy-yaml-btn {
        top: -5px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
    }
}
</style>
