<template>
    <div id="app">
        <div class="container">
            <Json2Swagger show-example="get" />
        </div>
    </div>
</template>

<script>
import Json2Swagger from './components/Json2Swagger.vue'

export default {
    name: 'App',
    components: {
        Json2Swagger
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
