<template>
    <label class="wrapper flex items-center">
        <input class="checkbox" type="checkbox" :checked="isChecked" :value="value" @change="updateInput"/>
        <span class="checkmark"></span>
        {{label}}
    </label>
</template>

<script>
export default {
    model: {
        prop: 'modelValue',
        event: 'change'
    },
    props: {
        "value": { type: String },
        "modelValue": { default: "" },
        "label": { type: String, required: true},
        "trueValue": { default: true },
        "falseValue": { default: false }
    },
    computed: {
        isChecked() {
            if (this.modelValue instanceof Array) {
                return this.modelValue.includes(this.value)
            }
            // Note that `true-value` and `false-value` are camelCase in the JS
            return this.modelValue === this.trueValue
        }
    },
    methods: {
        updateInput(event) {
            let isChecked = event.target.checked
            if (this.modelValue instanceof Array) {
                let newValue = [...this.modelValue]
                if (isChecked) {
                    newValue.push(this.value)
                } else {
                    newValue.splice(newValue.indexOf(this.value), 1)
                }
                this.$emit('change', newValue)
            } else {
                this.$emit('change', isChecked ? this.trueValue : this.falseValue)
            }
        }
    }
}
</script>

<style scoped>
/* Customize the label (the wrapper) */
.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}
/* Hide the browser's default checkbox */
.wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: var(--second-bg-color);
}
/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .checkmark {
    background-color: var(--second-bg-color);
}
/* When the checkbox is checked, add a blue background */
.wrapper input:checked ~ .checkmark {
    background-color: var(--primary-color);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}
/* Show the checkmark when checked */
.wrapper input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.wrapper .checkmark:after {
    width: 3px;
    height: 7px;
    border: solid white;
    transform: rotate(45deg);
    border-width: 0 3px 3px 0;
}
</style>